<a href="https://colab.research.google.com/github/GourishwarRachamalla/2024-stat-ml-assignments/blob/main/asssignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
file_path="/content/train.csv"
df=pd.read_csv(file_path)
print(df)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
y=df['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
x=df.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=30)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1572            895     0          0.5         1   6       0          16
1442            973     0          0.5         1   5       0          53
1516           1081     1          1.9         1  13       1          42
259            1559     1          1.6         1   6       1           6
945             832     0          1.1         0   0       1          46
...             ...   ...          ...       ...  ..     ...         ...
500            1278     1          0.5         1   1       0          54
1837            983     0          0.6         1   0       1          45
941             743     0          0.5         1   0       1          33
421            1178     0          2.2         1   6       0          57
1829           1065     0          1.7         1   4       1          48

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
1572    0.3        164        8  14        126      1575  3122     7     0
1442    0.5        196        5   7        105       588  1861    13    10
1516    0.1        101        7  17         83       816  2456     7     4
259     0.5        162        6  17        179      1559  3352     9     1
945     0.3         93        6   0        820      1366  3317     8     0
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
500     0.1        104        8  16        581       750  1155     7     1
1837    0.1        130        4  11        948      1205  2052     5     3
941     0.3         95        2   1       1587      1659   316    19    10
421     0.3         84        3  17         96      1352  2492    16    14
1829    0.3        162        6   8       1188      1948   265     8     0

      talk_time  three_g  touch_screen  wifi
1572          4        0             0     1
1442         16        0             1     0
1516          7        1             0     0
259           3        1             1     1
945          19        1             1     0
...         ...      ...           ...   ...
500          20        0             0     1
1837          6        1             0     1
941           4        1             0     0
421          10        1             1     0
1829         12        1             0     0

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1856           1786     0          2.6         0   6       0          14
364             916     1          2.6         0   0       0          36
1948            748     0          1.4         0   0       0          25
1458           1368     0          0.5         0  10       1          42
609            1212     0          2.6         0   1       1          46
...             ...   ...          ...       ...  ..     ...         ...
1163           1930     1          2.0         0  11       0          16
572            1701     1          0.5         0  13       1          46
1105           1510     1          2.5         1  11       0          47
1903           1361     1          1.4         0   1       0          47
481            1697     1          0.7         0   1       1          34

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
1856    1.0        115        4  15        616       912  3038    18     0
364     0.3        195        4  12        188       992  1470    13     0
1948    1.0        110        7  14         88       709  1974    17     5
1458    0.2         91        1  20        907       925  1590    12     0
609     0.3        102        4   8        611      1715  2249    14     3
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1163    0.8        186        8  12       1901      1920  1783    17     3
572     0.9        115        2  15        364       828  3717    11     0
1105    0.7        138        2  13        118      1170   887    18     6
1903    1.0        169        5   2        881      1382  2495     8     7
481     0.1         95        1   3        236      1264  3701    15     9

      talk_time  three_g  touch_screen  wifi
1856         14        1             0     0
364          14        0             1     0
1948         13        0             1     1
1458         14        1             0     0
609           4        1             1     1
...         ...      ...           ...   ...
1163         13        0             0     1
572          10        1             1     0
1105          5        0             0     0
1903         16        0             0     1
481           8        1             1     0

[400 rows x 20 columns]
1572    2
1442    1
1516    1
259     3
945     3
       ..
500     0
1837    1
941     0
421     2
1829    0
Name: price_range, Length: 1600, dtype: int64
1856    3
364     0
1948    1
1458    1
609     2
       ..
1163    2
572     3
1105    0
1903    2
481     3
Name: price_range, Length: 400, dtype: int64

In [ ]:
import pandas as pd
file_path = "/content/california_housing_train.csv"
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
y=df['median_house_value']
print(y)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [ ]:
x=df.drop('median_house_value',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=30)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
7303     -118.34     33.99                48.0       2009.0           335.0
12831    -121.81     37.23                19.0       2635.0           427.0
13976    -122.04     37.67                29.0       1694.0           251.0
3268     -117.86     33.73                30.0       2651.0           572.0
7206     -118.33     34.00                47.0        825.0           187.0
...          ...       ...                 ...          ...             ...
500      -116.99     32.83                20.0       6696.0          1326.0
12077    -121.43     39.18                36.0       1124.0           184.0
15277    -122.28     37.88                52.0       1172.0           215.0
4517     -118.04     33.76                16.0       2070.0           263.0
5925     -118.21     34.10                47.0       5077.0          1271.0

       population  households  median_income
7303        919.0       297.0         4.8125
12831      1497.0       410.0         6.3178
13976       690.0       242.0         6.0501
3268       3249.0       552.0         3.7202
7206        416.0       173.0         2.3333
...           ...         ...            ...
500        3687.0      1291.0         3.1979
12077       504.0       171.0         2.1667
15277       489.0       218.0         3.9167
4517        878.0       297.0         7.0879
5925       3348.0      1106.0         3.0377

[13600 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
10914    -120.85     37.51                 5.0       2899.0           745.0
6241     -118.25     34.23                37.0       1954.0           368.0
5904     -118.20     33.79                47.0       2549.0           626.0
9578     -119.35     36.52                39.0       3027.0           608.0
9444     -119.25     34.30                34.0       1189.0           220.0
...          ...       ...                 ...          ...             ...
12228    -121.47     38.55                52.0       1384.0           295.0
6639     -118.28     33.91                41.0        620.0           133.0
7850     -118.40     34.70                10.0       4122.0           814.0
4886     -118.10     34.01                42.0       1436.0           298.0
3618     -117.91     33.61                27.0       1797.0           343.0

       population  households  median_income
10914      1593.0       633.0         2.2292
6241        967.0       370.0         5.0862
5904       1388.0       606.0         3.0135
9578       2199.0       592.0         2.6445
9444        445.0       203.0         4.8824
...           ...         ...            ...
12228       561.0       244.0         2.0242
6639        642.0       162.0         2.6546
7850       2164.0       710.0         4.2941
4886       1005.0       298.0         3.4297
3618        435.0       203.0         5.9196

[3400 rows x 8 columns]
7303     170500.0
12831    248000.0
13976    254200.0
3268     182100.0
7206     133300.0
           ...
500      154600.0
12077     93800.0
15277    235600.0
4517     338800.0
5925     186800.0
Name: median_house_value, Length: 13600, dtype: float64
10914    127500.0
6241     261300.0
5904     192700.0
9578      62000.0
9444     396400.0
           ...
12228     94600.0
6639     159600.0
7850     151600.0
4886     195800.0
3618     500001.0
Name: median_house_value, Length: 3400, dtype: float64